
<div class="wrapper">
  <h3>Add Todos</h3>
  
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <input name="todoInput" formControlName="todoInput" type="text" placeholder="Enter a new todo" (keyup.enter)="onSubmit()">
    <div>
      <label for="checkbox"  name="todoCHeck">Completed?</label>
      <input name="todoCHeck" formControlName="todoCheck" type="checkbox" >
    </div>
    <button type="submit">{{editMode ? 'Update' : 'Add'}}</button>
  </form>

  <div class="todos">
    @if (todos) {
      <h3>My ToDos</h3>  
      @for (todo of todos; track todo) {
        <div class="todo">
          <p>{{todo.title}}</p>
          <input type="checkbox" [checked]="todo.completed" (click)="completeTodo(todo)">
          <button type="button" (click)="updateTodo(todo)">Edit</button>
          <button type="button" (click)="deleteTodo(todo)">Delete</button>
        </div>
      }
    }
  </div>
</div>
